Spoorthi- Wine Quality/flows (1).json
[{"id":"51803a5c.fa4244","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"997ad79.3465328","type":"ui_form","z":"51803a5c.fa4244","name":"","label":"","group":"5f2cf3d2.633f2c","order":3,"width":0,"height":0,"options":[{"label":"volatile_acidity","value":"volatile_acidity","type":"number","required":true},{"label":"citric_acid","value":"citric_acid","type":"number","required":true},{"label":"chlorides","value":"chlorides","type":"number","required":true},{"label":"free_sulfur_dioxide","value":"free_sulfur_dioxide","type":"number","required":true},{"label":"total_sulfur_dioxide","value":"total_sulfur_dioxide","type":"number","required":true},{"label":"sulphates","value":"sulphates","type":"number","required":true},{"label":"alcohol","value":"alcohol","type":"number","required":true},{"label":"density","value":"density","type":"number","required":true}],"formValue":{"volatile_acidity":"","citric_acid":"","chlorides":"","free_sulfur_dioxide":"","total_sulfur_dioxide":"","sulphates":"","alcohol":"","density":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":67.10000610351562,"y":324.6000061035156,"wires":[["b339a61d.5ca0b8","e565580f.bf4f28","66b48993.87d7e8","96e2462a.d0ca38","af9e8307.21855","2efe8a5a.200316","64a72b5c.2b30f4","2b49b0c2.f5201","8ca1b945.626198","d5af4001.1df12"]]},{"id":"e565580f.bf4f28","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":9,"width":0,"height":0,"name":"","label":"density","format":"{{msg.payload.density}}","layout":"row-spread","x":112.10000228881836,"y":148.60005474090576,"wires":[]},{"id":"66b48993.87d7e8","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":10,"width":0,"height":0,"name":"","label":"total_sulfur_dioxide","format":"{{msg.payload.total_sulfur_dioxide}}","layout":"row-spread","x":144.10000228881836,"y":94.60005569458008,"wires":[]},{"id":"96e2462a.d0ca38","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":11,"width":0,"height":0,"name":"","label":"free_sulfur_dioxide","format":"{{msg.payload.free_sulfur_dioxide}}","layout":"row-spread","x":131.10000610351562,"y":253.60007858276367,"wires":[]},{"id":"af9e8307.21855","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":13,"width":0,"height":0,"name":"","label":"citric_acid","format":"{{msg.payload.citric_acid}}","layout":"row-spread","x":124.0999984741211,"y":407.6000556945801,"wires":[]},{"id":"64a72b5c.2b30f4","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":14,"width":0,"height":0,"name":"","label":"chlorides","format":"{{msg.payload.chlorides}}","layout":"row-spread","x":112.10000228881836,"y":519.6001558303833,"wires":[]},{"id":"2efe8a5a.200316","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":6,"width":0,"height":0,"name":"","label":"sulphates","format":"{{msg.payload.sulphates}}","layout":"row-spread","x":120.0999984741211,"y":464.6000566482544,"wires":[]},{"id":"2b49b0c2.f5201","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":8,"width":0,"height":0,"name":"","label":"alcohol","format":"{{msg.payload.alcohol}}","layout":"row-spread","x":112.10004806518555,"y":578.6000590324402,"wires":[]},{"id":"b339a61d.5ca0b8","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":5,"width":0,"height":0,"name":"","label":"volatile_acidity","format":"{{msg.payload.volatile_acidity}}","layout":"row-spread","x":124.10000228881836,"y":201.60005474090576,"wires":[]},{"id":"8ca1b945.626198","type":"debug","z":"51803a5c.fa4244","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":229.10000610351562,"y":289.6000061035156,"wires":[]},{"id":"d5af4001.1df12","type":"function","z":"51803a5c.fa4244","name":"TokenGeneration","func":"global.set(\"volatile_acidity\",msg.payload.volatile_acidity);\nglobal.set(\"citric_acid\",msg.payload.citric_acid);\nglobal.set(\"chlorides\",msg.payload.chlorides);\nglobal.set(\"free_sulfur_dioxide\",msg.payload.free_sulfur_dioxide);\nglobal.set(\"total_sulfur_dioxide\",msg.payload.total_sulfur_dioxide);\nglobal.set(\"sulphates\",msg.payload.sulphates);\nglobal.set(\"alcohol\",msg.payload.alcohol);\nglobal.set(\"density\",msg.payload.density);\nreturn msg;","outputs":1,"noerr":0,"x":268.1000061035156,"y":343.6000061035156,"wires":[["a0a106cf.cd22a8"]]},{"id":"a0a106cf.cd22a8","type":"http request","z":"51803a5c.fa4244","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":471.1000518798828,"y":340.6000051498413,"wires":[["11d311ec.37ffde","228b34f6.d82bbc"]]},{"id":"228b34f6.d82bbc","type":"function","z":"51803a5c.fa4244","name":"prediction","func":"var token = msg.payload.token;\nmsg.payload = {\"fields\":[\"volatile acidity\",\"citric acid\",\"chlorides\",\"free sulfur dioxide\",\"total sulfur dioxide\",\"sulphates\",\"alcohol\",\"density\"],\"values\":[[global.get(\"volatile_acidity\"),global.get(\"citric_acid\"),global.get(\"chlorides\"),global.get(\"free_sulfur_dioxide\"),global.get(\"total_sulfur_dioxide\"),global.get(\"sulphates\"),global.get(\"alcohol\"),global.get(\"density\")]]};\nmsg.headers = {\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":627.1000366210938,"y":396,"wires":[["23976e25.383ba2"]]},{"id":"11d311ec.37ffde","type":"debug","z":"51803a5c.fa4244","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":635.1000556945801,"y":287.99999809265137,"wires":[]},{"id":"23976e25.383ba2","type":"http request","z":"51803a5c.fa4244","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/b1ca36df-9cb4-4db5-a92d-bc0f8a46d723/deployments/46be6693-5e84-420c-b9bf-5209b5fd86f5/online","tls":"","proxy":"","authType":"basic","x":584.1000595092773,"y":469.4000015258789,"wires":[["b0235a4c.491e28","6027c2f6.1ab41c"]]},{"id":"6027c2f6.1ab41c","type":"function","z":"51803a5c.fa4244","name":"parsing","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":602.1000556945801,"y":545.400032043457,"wires":[["6fd2a320.a26e4c","e19c120c.73dfe"]]},{"id":"b0235a4c.491e28","type":"debug","z":"51803a5c.fa4244","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":769.1000366210938,"y":461.3999938964844,"wires":[]},{"id":"6fd2a320.a26e4c","type":"debug","z":"51803a5c.fa4244","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":773.1000366210938,"y":530.3999938964844,"wires":[]},{"id":"e19c120c.73dfe","type":"ui_text","z":"51803a5c.fa4244","group":"5f2cf3d2.633f2c","order":15,"width":0,"height":0,"name":"","label":"predicted quality of wine","format":"{{msg.payload}}","layout":"row-spread","x":763.1000366210938,"y":639.3999938964844,"wires":[]},{"id":"5f2cf3d2.633f2c","type":"ui_group","z":"","name":"Default","tab":"6ed5c76b.596128","disp":true,"width":"6","collapse":false},{"id":"6ed5c76b.596128","type":"ui_tab","z":"","name":"predictor of quality of wine","icon":"dashboard","disabled":false,"hidden":false}]